
@import url(http://fonts.googleapis.com/css?family=Roboto:100,400,700);

html, body, .max {
    /*margin: 0;*/
    /*padding: 0;*/
    height: 100%;
    font-family: "Roboto", "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif !important;
    font-weight: 300;
}

.container-fluid {
    margin-left: 15px;
    margin-right: 15px;
}

.header {
    height: 10%;
    border-bottom: 1px solid white;
    box-shadow: 0 12px 10px rgba(0,0,0,0.4);
    background-color: #333333;
}

.brand {
    border-right: 1px solid white;
    box-shadow: 10px 0px 5px -2px rgba(0,0,0,0.4);
    color: white;
    /*change this to an image later*/
    font-size: 4em;
    text-align: center;
}

.feedback-bar {
    text-align: center;
}

.status-bar-cont {
    border-left: 1px solid white;
    box-shadow: -10px 0px 5px -2px rgba(0,0,0,0.4);
    color: white;
    text-align: center;
}

.status-bar {

}


.main-body {
    height: 90%;
    background-color: #2C2C2C;
}

.card {
    color: #fefff3;
    min-height: 70px;
    border-radius: 10px;
    width: 90%;
    margin-right: 5%;
    margin-left: 5%;
    margin-top: 20px;
    background-color: #191919;
    text-align: center;
    box-shadow: 10px 10px 10px -2px rgba(0,0,0,0.7);
}

.card-title {
    font-size: 1.3em;
    font-weight: light;
    background-color: #4FC1E9;
    color: #333333;
    border-radius: 10px 10px 0 0;
    border-bottom: 1px solid white;
}

.card-data-cont {
    font-weight: bold;
}
.card-data {
    font-size: 3em;
}

.song-author {
    font-style: italic;
}
.song-title {
    color: #FFF;
}
.text-bar-container {
    height: 100%;
    position: relative;
}
.text-bar {
    width: 98%;
    height: 100%;
    font-size: 40px;
    font-weight: 100;
    background-color: #333333;
    border: none;
    outline: none;
    color: #fff;
}

.music-controls {
    font-size: 30px;
    cursor: pointer;
}

.mic {
    margin-top: 10px;
    cursor: pointer;
}

.mic#mic-white {
    background-image: url("/images/microphone-white.png");
}
.mic#mic-red {
    background-image: url("/images/microphone-red.png");
}

hr.thin {
    margin-top: 2px;
    margin-bottom: 2px;
}

.stop-btn {
    position: absolute;
    top: 20px;
    right: -8px;
    cursor: pointer;
}

.closed-caption span {
    font-size: 1.2em;
    font-style: italic;
    position: absolute;
    bottom: 20px;
    color: #FFF;
}

.credits {
    font-size: 0.8em;
    position: absolute;
    bottom: 15px;
    color: #FFF;
}